
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.navbar {

    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
  }
  
  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .navbar-items a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  .navbar-items a .material-icons {
    text-decoration: none; /* Remove underline only for the "apps" link */
  }


  .dropbtn {
    border-width: 0;
    background-color: #ffffff;
  }
  
  .dropdown-content {

    position:absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: -160px;
    display: none;
    
    
  }

  .dropdown-content ul {
    width:auto;
    margin: auto;
    padding: 0;
  }

  .dropdown-content ul li {
    display:inline-flex;
    border: 1px solid white;
    margin-right: 10px;
    width: 80px;
    height: 70px;
    padding-top: 5px;


  }

  .dropdown-content ul li a {
    display: inline-block;
    margin: auto;
  }

  .dropdown-content ul li:hover {
    border: 1px solid rgb(196, 196, 196);
  }
  .dropdown-content a img {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  

  .navbar-items i {
    font-size: 24px; /* Adjust the size as needed */
    transition: background-color 0.3s ease; /* Add transition effect */
    padding: 5px; /* Adjust the padding as needed */
    border-radius: 50%; /* Make it a circle */
    
  }
  
  .navbar-items i:hover {
    background-color: rgb(196, 196, 196); /* Add gray background color on hover */
    
  }
  
  .navbar-items a,
  .navbar-items img,
  .navbar-items button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-items a button {
    border: none;
    color: white;
    padding: 7px 12px;
    background-color: #4285F4;
    text-decoration: none;
    cursor: pointer;

  }

  .navbar-items .underline:hover {
    text-decoration: underline; /* Add underline on hover  */
  }


  .container {
    display: flex;
    justify-content: center;
  }

  .image-container {

    text-align: center;
    margin-top: 10%;

  }

  .image-container img {
    width: 400px;
    height: auto;
    
  }




  .textbox {
    display: flex;
    width: 40rem;
    height: 50px;
    border: 1px solid #cfcfcf;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    border-radius: 25px;
    cursor:text;

  }
  .textbox:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 3px;
  }

  .textbox .icon {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
    color: rgba(112, 112, 112, 0.525);
    width: 5%; 
  }

  #output {
    font-size: 20px;
    text-align: center;
    margin-top: 13px;
    margin-left: 0px;
    font-weight: 100;
    color: #474747;
  }


  .home-buttons {
    
    display: flex;
    /* Set in the midle of the div */
    justify-content: center; 
    /* Set in the midle of the div dimensions from top an bottom  */
    align-items: center;
    margin-top: 30px;
    gap: 20px;
       
  }

  .home-buttons button {
    width: 140px;
    height: 35px;
    border: 1px solid #ffffff;
    font-size: 15px;
    background-color: #c4c4c485;
    cursor: pointer;
    color: #8b8a8a;
    font-weight: 500;
  }

  .home-buttons button:hover {
    color :#333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  .last-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    background-color: #f5f1f1;
    
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dadada;
    padding-left: 10px;
    color: #aaaaaa;
    
  }

  .last-div a {
    text-decoration: none;
    color: inherit;
  }
  .last-div a:hover {
    text-decoration: underline;
  }

  .right-align {
    position: absolute;
    right: 50px;
  }

  




  /* Second Page */


  .navbar-with-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .navbar-with-logo div {
    display: inline-block;
  }

  .nav-right {
    justify-content: space-between;
  }

  .nav-left {
    margin-left: 1%;
  }

  .nav-left img {
    width: 75px;
    margin-top: 10px;
  }

  .textbox-nav {

    display: flex;
    width: 40rem;
    height: 40px;
    border: 1px solid #cfcfcf;
    margin-left: 60px;
    margin-right: auto;
    
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    border-radius: 25px;
    cursor:text;
  }

  .textbox-nav .icon {
    margin-left: 95%;
    margin-top: 7px;
    color: #4285F4;
  }

  .textbox-nav:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 3px;
  }

  .nav-right .navbar-items {
    display: flex;
    margin-right: 50px;
    gap: 20px;
  }

  .second-nav {
    margin-top: 30px;
    margin-left: 10%;
    font-weight: 600;
    color: #4285F4;

  }
  .second-nav ul {
    display: flex;
    list-style: none;
  }

  .second-nav ul li {
    height: 40px; 
    padding: 10px 25px;
  }

  #bottom-border {
    border-bottom: 3px solid #4285F4;
  }


  .second-nav a {
    color: inherit; /* Use the color inherited from the parent */
    text-decoration: none; /* Remove the underline */
  }


  .content {
    display: inline-flex;
    margin-left: 10%;
    
  }

  .grey {
    color: #8b8a8a;
  }

  .content ul{
    list-style-type: none;
    margin-left: -40px;
  }

  .content li {
    max-width: 643px;
  }

  .content a{
    text-decoration: none;
    color: #006621;
  }
  .content a:hover{
    text-decoration: underline;
  }

  .content h3 {
    margin-bottom: 0px;
  }

  .content p {
    margin-top: 3px;
  }

  .content h3 a {
    color: #1a0dab;
    font-size: 19px;
    font-weight: 500;
  }
  .content h3 a:hover {
    text-decoration: underline;
  }

  .wiki {
    margin-left: 3%;
  }

  .wiki img {
    max-width: 500px;
  }

  .wiki-second {
    margin-left: 5%;
    margin-top: 5%;
  }

  .wiki-second h1 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 0px;
  }

  .wiki-second ul li {
    line-height: 30px;
    font-size: 15px;
  }

  .resume hr {
    display: none;
  }












  /* RESPONSIVEEEEEEEEEEE */

  @media (max-width: 1000px) {

    .dropdown-content ul{
      width: 290px;
    }

    .textbox-nav {

      width: 30rem
    }

    .content {
      display:block;
    }

    .wiki {
      margin-top: 50px;
    }

    .nav-right .navbar-items {
      margin-top: 10px;
      margin-right: 0px;
    }
  }


  @media (max-width: 768px) {
    .textbox {
      width: 90%;

    }

    .image-container img {
      width: 400px;
    }

    .container {
      margin-top: 20%;
    }

    .content hr {
      display: block;
      border: none;
      border-top: 1px solid #cccccc;
    }

    .nav-right .navbar-items a button{
      display: none;
    }

    .nav-right .navbar-items .dropdown i{
      font-size: 50px;
      margin-top: -10px;
      margin-right: -20px;
    }

    .textbox-nav {
      width: 25rem;
      margin-left: 20px;
    }
    
    .second-nav ul {
      margin-left: 0px;
    }

    .wiki img {
      width: 100%;
    }
  }



  @media (max-width: 711px) {
    .image-container img {
      width: 300px;
    }

    .textbox {
      height: 30px;
    }

    .textbox .icon {
      margin-top: 5px;
    }

    #output {
    font-size: 14px;
    margin-top: 6px;
    margin-left: 5px;

    }

    .last-div {

      height: 30px;
      font-size: smaller;
    
      
    }

    .nav-left div {
      display: block;
      margin-left: 20%;
      margin-top: 20px;
    }

    .nav-left img {
      margin-left: 60%;
      width: 100px;
    }

  }